body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e0e0e0;
}

.navbar .logo img {
    height: 40px;
}

.nav-links {
    display: flex;
    align-items: center;
    margin: 0 20px;
    margin-left: 100px;
}

.nav-links a {
    display: flex;
    margin: 0 10px;
    text-decoration: none;
    align-items: center;
    color: #000;
}

.nav-links a:hover {
    color: #007bff;

}
.logo h1:hover {
    animation-name: jackInTheBox;
    animation-duration: 0.5s;
}
@keyframes  jackInTheBox {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-10px);
    }
}
.search-container {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    
}

.search-container input[type="search"] {
    width: 100%;
    max-width: 400px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

.search-container button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-left: 0;
    background-color: #007bff;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #0056b3;
}

.navbar .nav-right {
    display: flex;
    align-items: center;
}

.navbar .nav-right .cart-icon,
.navbar .nav-right .user-icon {
    margin-left: 20px;
    cursor: pointer;
}

.navbar .nav-right .cart-icon svg,
.navbar .nav-right .user-icon img {
    height: 30px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Styles for the secondary navbar */
.secondary-navbar {
    display: flex;
    justify-content: center;
    background-color: #007bff;
    padding: 10px 0;
}

.secondary-navbar a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.secondary-navbar a:hover {
    color: #d1ecf1;
}

.cart-icon {
    margin-right: 40px;
}

.container-fluid {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.nav-links {
    display: flex;
    align-items: center;
    margin: 0 20px;
    margin-left: 0; /* Elimina el margen izquierdo para que esté centrado */
}

.nav-links a:hover {
    animation-name: jackInTheBox;
    animation-duration: 0.5s;
}
