<div class="container">
    <form [formGroup]="contactForm" class="row g-3 needs-validation" novalidate (submit)="enviar($event)">
        <div class="mb-3">
            <label for="ci" class="form-label">CI</label>
            <input type="number" class="form-control" id="ci" placeholder="Ingrese CI" formControlName="ci"
                [ngClass]="{'is-invalid' : hasErrors('ci', 'required')}">
            <div *ngIf="hasErrors('ci', 'required')" class="text-danger">Complete este campo</div>
        </div>

        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="Ingrese Nombre" formControlName="nombre"
                [ngClass]="{'is-invalid' : hasErrors('nombre', 'required') || hasErrors('nombre', 'minlength')}">
            <div *ngIf="hasErrors('nombre', 'required')" class="text-danger">Complete este campo</div>
            <div *ngIf="hasErrors('nombre', 'minlength')" class="text-danger">Debe tener al menos 2 caracteres</div>
        </div>

        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Ingrese Username"
                formControlName="username"
                [ngClass]="{'is-invalid' : hasErrors('username', 'required') || hasErrors('username', 'minlength')}">
            <div *ngIf="hasErrors('username', 'required')" class="text-danger">Complete este campo</div>
            <div *ngIf="hasErrors('username', 'minlength')" class="text-danger">Debe tener al menos 2 caracteres</div>
        </div>

        <div class="mb-3">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellido" placeholder="Ingrese Apellido"
                formControlName="apellido"
                [ngClass]="{'is-invalid' : hasErrors('apellido', 'required') || hasErrors('apellido', 'minlength')}">
            <div *ngIf="hasErrors('apellido', 'required')" class="text-danger">Complete este campo</div>
            <div *ngIf="hasErrors('apellido', 'minlength')" class="text-danger">Debe tener al menos 2 caracteres</div>
        </div>

        <div class="mb-3">
            <label for="fechanacimiento" class="form-label">Fecha de Nacimiento</label>
            <input type="date" class="form-control" id="fechanacimiento" formControlName="fechanacimiento"
                [ngClass]="{'is-invalid' : hasErrors('fechanacimiento', 'required')}">
            <div *ngIf="hasErrors('fechanacimiento', 'required')" class="text-danger">Complete este campo</div>
        </div>

        <div class="mb-3">
            <label for="imagen" class="form-label">Imagen</label>
            <input type="text" class="form-control" id="imagen" placeholder="Ingrese URL de la Imagen"
                formControlName="imagen" [ngClass]="{'is-invalid' : hasErrors('imagen', 'required')}">
            <div *ngIf="hasErrors('imagen', 'required')" class="text-danger">Complete este campo</div>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Ingrese Password"
                formControlName="password"
                [ngClass]="{'is-invalid' : hasErrors('password', 'required') || hasErrors('password', 'minlength')}">
            <div *ngIf="hasErrors('password', 'required')" class="text-danger">Complete este campo</div>
            <div *ngIf="hasErrors('password', 'minlength')" class="text-danger">Debe tener al menos 6 caracteres</div>
        </div>

        <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>